<%- include("../partials/getUser.ejs") %>

<div class="container-fluid">
  <div class="row hv100">
    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 d-md-block bg-dark-soft sidebar p-3">
      <h2 class="text-white">Bem-vindo, <%= user.name %></h2>

      <!-- TODO colocar algum link real aqui kkkkkk -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="/user/profile">Perfil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#pets">Meus Pets</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#settings">Settings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="#support">Support</a>
        </li>
      </ul>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between align-items-center py-3">
        <h1 class="h2">My Pets</h1>
        <form method="GET" action="/user/add-pet">
          <button class="btn btn-success">Add New Pet</button>
        </form>
      </div>

      <!-- Pets List -->
      <div class="row row-cols-1 row-cols-md-2 g-4 pets-list">
        <% user.pets.forEach((pet) => { %>
        <div class="col" id="<%= pet.petId %>">
          <div class="card shadow-sm">
            <div class="card-body d-flex align-items-center">
              <div class="d-flex me-3" style="width: 60px; height: 60px">
                <img
                  src="../images/dog-photo.jpg"
                  alt="Dog Photo"
                  class="rounded-circle img-fluid object-fit-cover"
                />
              </div>

              <div class="flex-grow-1">
                <h5 class="card-title" id="pet-name">Buddy</h5>

                <p class="card-text mb-1" id="pet-last-seen">
                  <strong>Last Seen:</strong
                  ><span id="span-last-seen"> 99 seconds ago </span>
                </p>
                <p class="card-text"><strong>Status:</strong> Active</p>

                <span id="collar-serialNumber">NaN</span>
                <span><%= pet.petId %></span>
              </div>

              <div class="d-flex gap-2">
                <a
                  href="/user/pet/<%= pet.petId %>"
                  class="btn btn-primary btn-sm"
                  role="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-geo-alt-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
                    />
                  </svg>
                  Localizar
                </a>
                <a
                  href="/user/pet/<%= pet.petId %>/edit"
                  class="btn btn-warning btn-sm"
                  role="button"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"
                    />
                  </svg>
                  Editar
                </a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
        <!-- Additional pet items would follow this structure -->
      </div>
    </main>
  </div>
</div>

<script>
  async function getPet(petId) {
    const response = await fetch(`/user/get-a-pet/${petId}`);
    const data = await response.json();
    return data;
  }

  const petsList = document.querySelector(".pets-list");

  user.pets.forEach((pet) => {
    getPet(pet.petId).then((data) => {
      // console.log(data);
      const petCard = document.getElementById(data._id);
      const petName = petCard.querySelector("#pet-name");
      const pPetLastSeen = petCard.querySelector("#span-last-seen");
      const collarSerial = petCard.querySelector("#collar-serialNumber");

      const updatedAtMillis = Date.parse(data.updatedAt);
      const lastSeenSecs = Math.floor((Date.now() - updatedAtMillis) / 1000);

      if (lastSeenSecs < 60) {
        pPetLastSeen.textContent = ` ${lastSeenSecs} seconds ago`;
      } else if (lastSeenSecs < 3600) {
        pPetLastSeen.textContent = ` ${Math.floor(
          lastSeenSecs / 60
        )} minutes ago`;
      } else if (lastSeenSecs < 86400) {
        pPetLastSeen.textContent = ` ${Math.floor(
          lastSeenSecs / 3600
        )} hours ago`;
      }

      petName.textContent = data.name;
      collarSerial.textContent = data.collar
        ? data.collar.serialNumber
          ? data.collar.serialNumber
          : "NaN"
        : "NaN";
    });
  });
</script>
